{% if include.pdf %}
  <object
    data="{{ include.pdf | relative_url | uri_escape }}#page=1&view=FitH&toolbar=0&navpanes=0&scrollbar=0"
    type="application/pdf"
    aria-label="{{ include.title | default: 'PDF preview' | regex_strip }}"
  >
    {% if include.image %}
      <img
        src="{{ include.image | relative_url | uri_escape }}"
        alt="{{ include.title | default: 'preview image' | regex_strip }}"
        loading="lazy"
        {% include fallback.html %}
      >
    {% endif %}
  </object>
{% endif %}